<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>One Item</title>
	<link rel="stylesheet" href="/style.css">
</head>
<div th:insert="fragments/navbar"></div>
<body>
<center><h1>Item</h1>  </center>
	<h3>Item details:</h3>
	<div th:text="${item.title}"></div>
	<div th:text="${item.description}"></div>
	<div th:text="${item.creator}"></div>
	<div th:if="${item.status}">Completed</div>
	<div th:unless="${item.status}">ToDo</div>
	
	<br>
	<form action="#" th:action="@{/deleteItemById}" th:method="delete">
		<input type="hidden" name="_method" value="delete" />
		<button type="submit" onClick="return confirm('Are you sure?')">delete</button>
	</form>
    <br>
    <a th:href="@{/update/} + ${item.id}"><button>update</button></a>
</body>
</html>